<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCxYgLtGIT0l6sjYWyIoAa_tXonJ363UE</string>
	<key>GCM_SENDER_ID</key>
	<string>197694632424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emr005</string>
	<key>PROJECT_ID</key>
	<string>ecomoto-fb-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomoto-fb-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197694632424:ios:3f71a9a1840c71a290745d</string>
</dict>
</plist>